body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.memeContainer{
  position: relative;
  background-color: #282c34;
}

.input{
  overflow: hidden;
  resize: none;
  background-color: #282c34;
  border-radius: 5px;
  color: aliceblue;
}

.memeSelector{
  margin: 15px;
  background-color: #282c34;
  color: aliceblue;
}

.img{
  object-fit: contain;
  width: 100%;
  max-width: 400px;
}

.text1{
  font-size: 30px;
  position: absolute;
  top: 8%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text2{
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.buttonExport{
  background-color: #282c34;
  color: aliceblue;
}

